/* side-nav */
html {
    font-size: 10px;
}

body {
    background-color: #ecf0f1;
}
.container-fluid {
    padding: 0;
    position: relative;
}
.side-nav {
    width: 80px;
    height: 100%;
    padding-top: 15px;
    position: fixed;
    background-color: #3e474e;
}

.nav > li {
    text-align: center;
}

.nav > li > a:hover {
    background: #3e474e;
}

.nav > li > a > i:hover {
    color: #fff;
}

.nav > li > a > i {
    text-align: center;
    font-size: 2.5rem;
    color: #60676d;
}

.nav > .active > a > i {
    color: #fff;
}

.nav > .logout {
    margin-top: 100%;
}

.side-content {
    margin-left: 100px;
    height: 100%;
    max-width: 1150px;
}