/*创建项目页*/
.top-name {
    padding: 0 15px;
    margin: 20px 0 20px;
    color: #555;
    font-size: 1.8rem;
}

.panel {
    padding: 20px;
    background-color: #fff;
}

.setting-section {
    padding: 20px;
    width: 100%;
    float: left;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}

.setting-section .setting-label {
    float: left;
    width: 160px;
}

.setting-section .setting-info {
    margin-left: 160px;
}

.info-section {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #ecf0f1;
}

.info-section-avatar {
    float: left;
    width: 100px;
    text-align: center;
}

.info-section-desc {
    margin-left: 120px;
    padding-top: 15px;
}

.tab-pane {
    padding-bottom: 20px;
}

.tab-pane-attached{
    padding-top: 40px;
    position: relative;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    border-color: transparent #e5e5e5 #e5e5e5;
}

.sync-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    height: 20px;
}

.card .img {
    text-align: center;
    padding: 15px 10px;
    height: 104px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.card .img img {
    max-width: 60px;
    width: 40%;
    display: block;
    border-radius: 4px;
    margin: 0 auto;
}

.card .img .name {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    margin: 5px auto 0;
}

.dropdown {
    position: relative;
}

.card.current {
    border-color: #398bce;;
}

.card {
    border:2px solid #e5e5e5;
    border-radius: 3px;
    display: block;
}

figure {
    margin: 0!important;
}

.caption {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    text-align: center;
    font-size: 13px;
    padding: 8px 10px;
    border-top: 1px solid #e5e5e5;
}

.card .gh-repos {
    width: 100%;
    padding: 0!important;
    margin: 0!important;
    position: absolute;
    top: 105%;
    right: -4px;
    left: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: none;
    border-width: 2px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
}

.card .gh-repos li {
    padding: 0 !important;
    border-bottom: 1px solid #e5e5e5;
}

.card .gh-repos li a {
    color: #999;
    padding: 6px 10px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
}

/*项目列表页*/
.item-single-line {
    font-size: 16px;
}

.item-danger {
    color: #ff0000;
}

.item-success {
    color: #22c36a;
}

.item-link {
    color: #3890ff;
}

a:hover {
    text-decoration: none;
}
/*项目详情页*/
.panel .nav a:hover {
    background-color: #FFFFFF;
}

.panel .nav .active a{
    border: none;
}

.log-panel {
    height: 300px;
    padding: 20px;
    background-color: #000;
    color: #fff;
    overflow: scroll;
    font:400 13px/125% Consolas,"source code pro",Bitstream Vera Sans Mono,Consolas,Courier,monospace;;
}