.top-name {
    padding: 0 15px;
    margin: 20px 0 20px;
    color: #555;
    font-size: 1.8rem;
}

.panel {
    padding: 20px;
    background-color: #fff;
}

.setting-section {
    padding: 20px;
    width: 100%;
    float: left;
    font-size: 14px;
}

.setting-section .setting-label {
    float: left;
    width: 160px;
}

.setting-section .setting-info {
    margin-left: 160px;
}