html {
    font-size: 10px;
}

.top-name {
    padding: 0 15px;
    margin-top: 20px;
    color: #555;
    font-size: 1.8rem;
}

.servers {
    max-width: 1150px;
    background-color: #fff;
}

.servers > h3 {
    font-size: 2.4rem;
    border-radius: 4px;
}

.function {
    width: 100%;
    margin-top: 30px;
    padding: 6px 15px;
    height: 50px;
}

.btn {
    float: left;
}

.search {
    float: left;
    margin-left: 20px;
}

.server-list {
    padding: 20px 10px;
}

.server-list > table > thead {
    font-size: 12px;
    color: #9ba3af;
}