{% extends "base.html" %}

{% block link %}
    <!--suppress ALL -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}

{% block page_content %}
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    <div class="top-name">
        <i class="fa fa-arrow-left"></i>
        <a href="{{ url_for('apps') }}">应用详情</a>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="title-img">
                <span><i class="fa fa-tags fa-4x" aria-hidden="true"></i></span>
            </div>
            <div class="title-title">
                <h2 id="appName">{{ apps.appname }}</h2>
                <div class="text-muted sub-title">
                    <span>部署于</span>
                    {{ moment(apps.create_on).fromNow(no_suffix=false, refresh = true) }}
                </div>
                <hr>
                <div class="title-info clearfix">
                    <div class="text-muted">
                        <div>
                            <span class="title-info-label">所属镜像</span>
                            <a href="#" id="image">{{ apps.image }}</a>
                        </div>
                        <div>
                            <span class="title-info-label">所在环境</span>
                            <a href="#" id="host">{{ apps.host }}</a>
                        </div>
                    </div>
                    <div class="text-muted">
                        <div>
                            <span class="title-info-label">运行状态</span>
                            <span id="status"><i class="fa fa-spinner fa-spin fa-1x fa-fw"></i></span>
                        </div>
                        <div>
                            <span class="title-info-label">访问地址</span>
                            <input type="hidden" id="port" value="{{ apps.port }}">
                            <a href="http://{{ apps.host }}:{{ apps.port }}"
                               target="_blank">{{ apps.host }}:{{ apps.port }}</a>
                        </div>
                    </div>
                    <div class="text-muted">
                        <div>
                            <button class="btn btn-success" id="start">开始</button>
                            <button class="btn btn-danger" id="stop">停止</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="log-panel" id="log-content"></div>
        </div>
    </div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            $.ajax({
                url: '/apps/create',
                type: 'post',
                dataType: 'json',
                async: true
            });
        });
        socket.on('response', function (msg) {
            var message = eval("(" + msg + ")").resp;
            var progress = eval("(" + message + ")").progress;
            var status = eval("(" + message + ")").status;
            var logContent = document.getElementById('log-content');
            if (progress == undefined) {
                logContent.innerHTML += status + '<br>';
                logContent.scrollTop = logContent.scrollHeight;
            } else {

                logContent.innerHTML += progress + '<br>';
                logContent.scrollTop = logContent.scrollHeight;
            }
        });
    </script>
    <script>
        function getStatus() {
            $.ajax({
                url: '/apps/per/status',
                dataType: 'json',
                type: 'post',
                async: true,
                success: function (data) {
                    if (data['status'] == 'up') {
                        document.getElementById('status').style.color = '#169f2d';
                        document.getElementById('status').innerText = '运行中';
                        clearInterval(timer);
                    } else if (data['status'] == 'down') {
                        document.getElementById('status').style.color = 'red';
                        document.getElementById('status').innerText = '待机';
                        clearInterval(timer);
                    } else {
                        document.getElementById('status').innerHTML = '<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> 正在创建应用';
                    }
                }
            });
        }
        var timer = setInterval("getStatus()", 3000);
    </script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        $("#start").click(function (event) {
            $("#status").html('<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> 正在启动');
            socket.emit('start app', {appName: $("#appName").text()});
            return false;
        });
        $("#stop").click(function (event) {
            socket.emit('stop app', {appName: $("#appName").text()});
            $("#status").html('<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> 正在停止');
            return false;
        });
        socket.on('status response', function (msg) {
            if (msg['data'] == null) {
                $('#status').css('color', msg['color']);
                $("#status").text(msg['info']);
            }
        })
    </script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            var appName = $("#appName").text();
            var host = $("#host").text();
            $.ajax({
                url: '/apps/logs',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({'appName': appName, 'host': host})
            });
        });
        socket.on('logs response', function (data) {
            var logContent = document.getElementById("log-content");
            logContent.innerText += data['data'];
            logContent.scrollTop = logContent.scrollHeight;
        })
    </script>
{% endblock %}