{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}
{% block page_content %}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    <div class="top-name">
        代码构建
    </div>
    <div class="server">
        <div class="function">
            <a href='{{ url_for('build_code_new') }}' class="btn btn-default">创建项目</a>
            <div class="search from-group col-md-3">
                <input class="form-control" type="text" placeholder=""/>
            </div>
        </div>
        <div class="panel panel-body">
            <div class="server-list">
                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th>项目名称</th>
                        <th>最近更新</th>
                        <th>状态</th>
                        <th>操作</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <div class="item-link">
                                    <a href="{{ url_for('per_project', verify=project.verify) }}">
                                        {{ project.proname }}
                                    </a>
                                </div>
                            </td>
                            <td>
                                <div class="item-single-line">
                                    {{ moment(project.create_on).fromNow(no_suffix=false, refresh = true) }}
                                </div>
                            </td>
                            <td>
                                {% if project.success == 1 %}
                                    <div class="item-single-line item-success">执行成功</div>
                                {% else %}
                                    <div class="item-single-line item-danger">执行失败</div>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('create_app', verify=project.verify) }}">部署</a></td>
                            <td>
                                <button class="btn btn-default" onclick="deleteProject(this)">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="pager">
                {{ macros.pagination_widget(pagination, '.build_code') }}
            </div>
        </div>
    </div>
    <script>
        function deleteProject(btn) {
            var td = btn.parentNode;
            var parent = btn.parentNode.parentNode.parentNode;
            var tr = btn.parentNode.parentNode;
            var proName = btn.parentNode.parentNode.childNodes[1].childNodes[1].innerText;
            console.log(proName);
            if (confirm('你确定要删除此项目?')) {
                btn.parentNode.innerHTML = '<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> 正在删除';
                $.ajax({
                    url: '/project/delete',
                    dataType: 'json',
                    type: 'post',
                    data: JSON.stringify({data: proName}),
                    success: function (data) {
                        if (data['resp'] == 'ok') {
                            parent.removeChild(tr);
                        } else if (data['resp'] == 'no') {
                            alert('删除失败');
                            td.innerHTML = '<button class="btn btn-default" onclick="deleteApp(this)">删除</button>';
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}