{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}
{% block page_content %}
    <div class="top-name">
        <i class="fa fa-angle-left"></i>
        <a href="{{ url_for('build_code') }}">代码构建</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">项目名称</label>
                        <div class="setting-info">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-md-9">
                        <lable class="setting-label">代码来源</lable>
                        <div class="setting-info">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#github" aria-controls="github" role="tab" data-toggle="tab">Github</a>
                                </li>
                                <li role="presentation">
                                    <a href="#coding" aria-controls="coding" role="tab" data-toggle="tab">Gitlab</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="github">
                                    <div class="tab-pane tab-pane-attached">
                                        {% if current_user.github_token == None %}
                                            <div class="info-section">
                                                <div class="info-section-avatar">
                                                    <i class="fa fa-github fa-4x"></i>
                                                </div>
                                                <div class="info-section-desc">
                                                    <a href="{{ url_for('github_login') }}" class="btn btn-success">同步代码源</a>
                                                </div>
                                            </div>
                                        {% elif current_user.github_token %}
                                            <span class="sync-button">
                                                <i class="fa fa-md fa-refresh"></i>
                                            </span>
                                            <div class="row" id="dropdown">
                                                <div class="col-md-4 col-xs-6">
                                                    <div class="dropdown">
                                                        <figure class="card">
                                                            <div class="img">
                                                                <img src="{{ github_data['avatar_url'] }}" alt="">
                                                                <div class="name"
                                                                     tooltip="{{ github_data['login'] }}">{{ github_data['login'] }}</div>
                                                            </div>
                                                            <a href="" class="caption ng-binding" data-toggle="dropdown"
                                                               mydropdown aria-expanded="false">
                                                                <i class="fa fa-caret-down"></i>
                                                            </a>
                                                            <ul class="dropdown-menu gh-repos ng-scope"
                                                                style="max-height: 264px; overflow-y: scroll;">
                                                                {% if github_user_repos != None %}
                                                                    {% for github_user_repo in github_user_repos %}
                                                                        <li>
                                                                            <a class="ng-binding">{{ github_user_repo['name'] }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                        </figure>
                                                    </div>
                                                </div>
                                                {% if github_orgs_data != None %}
                                                    {% for github_org_data in github_orgs_data %}
                                                        <div class="col-md-4 col-xs-6">
                                                            <div class="dropdown">
                                                                <figure class="card">
                                                                    <div class="img">
                                                                        <img src="{{ github_org_data['avatar_url'] }}"
                                                                             alt="">
                                                                        <div class="name">{{ github_org_data['login'] }}</div>
                                                                    </div>
                                                                    <a href="" class="caption ng-binding"
                                                                       data-toggle="dropdown" mydropdown
                                                                       aria-expanded="false">
                                                                        <i class="fa fa-caret-down"></i>
                                                                    </a>
                                                                    <ul class="dropdown-menu gh-repos ng-scope"
                                                                        style="max-height: 264px; overflow-y: scroll;">
                                                                        {% if github_org_repos != None %}
                                                                            {% for repo in github_org_repos[github_org_data["login"]] %}
                                                                                <li>
                                                                                    <a class="ng-binding">{{ repo['name'] }}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        {% endif %}
                                                                    </ul>
                                                                </figure>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="coding">
                                    <div class="tab-pane tab-pane-attached">
                                        {% if current_user.gitlab_token == None %}
                                            <div class="info-section">
                                                <div class="info-section-avatar">
                                                    <i class="fa fa-gitlab fa-4x"></i>
                                                </div>
                                                <div class="info-section-desc">
                                                    <a href="{{ url_for('gitlab_login') }}" class="btn btn-success">同步代码源</a>
                                                </div>
                                            </div>
                                        {% elif current_user.gitlab_token %}
                                            <span class="sync-button">
                                                <i class="fa fa-md fa-refresh"></i>
                                            </span>
                                            <div class="row" id="dropdown">
                                                <div class="col-md-4 col-xs-6">
                                                    <div class="dropdown">
                                                        <figure class="card">
                                                            <div class="img">
                                                                <img src="{{ gitlab_data['avatar_url'] }}" alt="">
                                                                <div class="name"
                                                                     tooltip="{{ gitlab_data['username'] }}">{{ gitlab_data['username'] }}</div>
                                                            </div>
                                                            <a href="" class="caption ng-binding" data-toggle="dropdown"
                                                               mydropdown aria-expanded="false">
                                                                <i class="fa fa-caret-down"></i>
                                                            </a>
                                                            <ul class="dropdown-menu gh-repos ng-scope"
                                                                style="max-height: 264px; overflow-y: scroll;">
                                                                {% if gitlab_user_repos != None %}
                                                                    {% for gitlab_user_repo in gitlab_user_repos %}
                                                                        <li>
                                                                            <a class="ng-binding">{{ gitlab_user_repo['name'] }}</a>
                                                                        </li>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </ul>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <button class="btn btn-lg btn-block" aria-disabled="true" disabled="disabled">开始创建</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        var test = null;
        function getDataid(e) {
            test = e.target.parentNode;
            if (e.target.parentNode.nodeName === 'LI') {
                e.target.parentNode.parentNode.parentNode.childNodes[3].innerHTML = e.target.innerText + " " + '<i class="fa fa-caret-down"></i>';
            }
        }
        var el = document.getElementById('dropdown');
        el.addEventListener('click', getDataid.bind(this), false);
    </script>
{% endblock %}
