{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
{% endblock %}
{% block page_content %}
    <div class="top-name">
        代码构建
    </div>
    <div class="server">
        <div class="function">
            <a href='{{ url_for('build_code_new') }}' class="btn btn-default">创建应用</a>
            <div class="search from-group col-md-3">
                <input class="form-control" type="text" placeholder=""/>
            </div>
        </div>
    </div>
{% endblock %}