{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}
{% block page_content %}
    <div class="top-name">
        <i class="fa fa-angle-left"></i>
        <a href="{{ url_for('build_code') }}">代码构建</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">项目名称</label>
                        <div class="setting-info">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-md-9">
                        <lable class="setting-label">代码来源</lable>
                        <div class="setting-info">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#github" aria-controls="github" role="tab" data-toggle="tab">Github</a>
                                </li>
                                <li role="presentation">
                                    <a href="#coding" aria-controls="coding" role="tab" data-toggle="tab">Coding</a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="github">
                                    <div class="tab-pane tab-pane-attached">
                                        {% if current_user.github_token == None %}
                                            <div class="info-section">
                                                <div class="info-section-avatar">
                                                    <i class="fa fa-github fa-4x"></i>
                                                </div>
                                                <div class="info-section-desc">
                                                    <a href="{{ url_for('github_login') }}" class="btn btn-success">同步代码源</a>
                                                </div>
                                            </div>
                                        {% elif current_user.github_token %}
                                            <span class="sync-button">
                                                <i class="fa fa-md fa-refresh"></i>
                                            </span>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="dropdown">
                                                        <figure class="card">
                                                            <div class="img"><img src="{{ github_data['avatar_url'] }}" alt=""></div>
                                                            <a href="" class="caption ng-binding" data-toggle="dropdown" mydropdown aria-expanded="false">
                                                                <i class="fa fa-caret-down"></i>
                                                            </a>
                                                            <ul class="dropdown-menu gh-repos ng-scope" style="max-height: 264px; overflow-y: scroll;">
                                                                <li>
                                                                    <a href="" class="ng-binding">Testing</a>
                                                                </li>
                                                            </ul>
                                                        </figure>
                                                    </div>
                                                </div>
                                                {% for github_org_data in github_orgs_data %}
                                                    <div class="col-md-4">
                                                        <div class="dropdown">
                                                            <figure class="card">
                                                                <div class="img"><img src="{{ github_org_data['avatar_url'] }}" alt=""></div>
                                                                <a href="" class="caption ng-binding" data-toggle="dropdown" mydropdown aria-expanded="false">
                                                                    <i class="fa fa-caret-down"></i>
                                                                </a>
                                                                <ul class="dropdown-menu gh-repos ng-scope" style="max-height: 264px; overflow-y: scroll;"></ul>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="coding">
                                    <div class="tab-pane tab-pane-attached">
                                        <div class="info-section">
                                            <div class="info-section-avatar">
                                                <i class="fa fa-code-fork fa-4x"></i>
                                            </div>
                                            <div class="info-section-desc">
                                                <a href="#" class="btn btn-success">同步代码源</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}