{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}

{% block  page_content %}
    {{ moment.include_moment() }}
    {{ moment.lang("zh-CN") }}
    <div class="top-name">
        应用列表
    </div>
    <div class="containers">
        <div class="function">
            <a href='{{ url_for('build_code') }}' class="btn btn-default">创建应用</a>
            <div class="search from-group col-md-3">
                <input class="form-control" type="text" placeholder=""/>
            </div>
        </div>
        <div class="panel panel-body">
            <div class="col-sm-8 server-list">
                <table class="table table-hover" id="table">
                    <thead>
                    <tr>
                        <th>应用名称</th>
                        <th>最近更新</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for app in apps %}
                        <tr>
                            <td>
                                <a href="{{ url_for('per_app', verify=app.verify) }}">{{ app.appname }}</a>
                            </td>
                            <td>
                                {{ moment(app.create_on).fromNow(no_suffix=false, refresh = true) }}
                            </td>
                            <td>
                                <button class="btn btn-default" onclick="deleteApp(this)">删除</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 pager">
                {{ macros.pagination_widget(pagination, '.apps') }}
            </div>
        </div>
    </div>
    <script>
        function deleteApp(btn) {
            td = btn.parentNode;
            parent = btn.parentNode.parentNode.parentNode;
            tr = btn.parentNode.parentNode;
            appName = btn.parentNode.parentNode.childNodes[1].childNodes[1].innerText;
            if (confirm('你确定要删除此应用?')) {
                btn.parentNode.innerHTML = '<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i> 正在删除';
                $.ajax({
                    url: '/apps/delete',
                    dataType: 'json',
                    type: 'post',
                    data: JSON.stringify({data: appName}),
                    success: function (data) {
                        if (data['resp'] == 'ok') {
                            parent.removeChild(tr);
                        } else if(data['resp'] == 'no') {
                            alert('删除失败');
                            td.innerHTML = '<button class="btn btn-default" onclick="deleteApp(this)">删除</button>';
                        }
                    }
                })
            }
        }
    </script>
{% endblock %}
{% block script %}
{% endblock %}