{% extends "base.html" %}

{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}

{% block page_content %}
    <div class="top-name">
        <i class="fa fa-arrow-left" style="margin-right:5px"></i>
        <a href="{{ url_for('build_code') }}">代码构建</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{{ url_for('per_app', verify=app_verify) }}" method="post">
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">应用名称</label>
                        <div class="setting-info">
                            <div class="form-group col-xs-8  input-appName">
                                <input type="text" class="form-control" name="appname" oninput="checkAppname(this)" required>
                            </div>
                            <span class="col-xs-4" id="status"></span>
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">所属镜像</label>
                        <div class="setting-info">
                            <div class="col-xs-4 image">
                                <div class="card">
                                    <div class="top">
                                        <i class="fa fa-cube fa-3x" aria-hidden="true"></i>
                                    </div>
                                    <input type="hidden" value="{{ project.proname }}" name="image">
                                    <div>{{ project.proname }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">运行环境</label>
                        <div class="setting-info">
                            <select class="form-control" name="server">
                                {% for server in servers %}
                                    <option value="{{ server.Ip }}">{{ server.nickname }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-md-9">
                        <label class="setting-label">映射端口</label>
                        <div class="setting-info">
                            <input type="text" class="form-control" name="port" required>
                        </div>
                    </div>
                </div>
                <div class="setting-section">
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-block right" id="create" disabled="disabled">开始创建</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        function checkAppname(inputData) {
            var data = inputData.value;
            var statusId = document.getElementById('status');
            if (data.length == 0) {
                statusId.innerText = '';
                statusId.disabled = true;
            } else {
                $.ajax({
                    url: '/apps/check/appname',
                    dataType: 'json',
                    type: 'post',
                    data: JSON.stringify({data: data}),
                    success: function (data) {
                        if (data['resp'] == 'ok') {
                            statusId.style.color = '#169f2d';
                            statusId.innerHTML = '<i class="fa fa-check" aria-hidden="true"></i>';
                            document.getElementById('create').disabled = false;
                        } else {
                            statusId.style.color = 'red';
                            statusId.innerText = '名称已被占用';
                            document.getElementById('create').disabled = true;
                        }
                    }
                });

            }
        }
    </script>
{% endblock %}