<!-- extend base layout -->
{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
{% endblock %}

{% block page_content %}
    <div class="box">
        <div class="login-box">
            <div class="login-title text-center">
                <h1>
                    <small>登录</small>
                </h1>
            </div>
            <div class="login-content">
                <div class="form">
                    <form method="post">
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-user"></span></span>
                                    {{ form.username_or_email(class='form-control', placeholder="用户名或邮箱") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12  ">
                                <div class="input-group">
                                    <span class="input-group-addon"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                    {{ form.password(class='form-control', placeholder="密码") }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-actions">
                            <div class="form-group">
                                {{ form.submit(class="btn btn-info form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 link">
                                <p class="text-center remove-margin">
                                    <small>忘记密码？</small>
                                    <a href="http://exmail.qq.com/" target="_blank">
                                        <small>找回</small>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
