{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/build.css') }}">
{% endblock %}

{% block page_content %}
    <div class="top-name">
        <i class="fa fa-arrow-left"></i>
        <a href="{{ url_for('build_code') }}">代码构建</a>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <div class="col-md-6 col-sm-6">
                        <h1 style="font-size: 24px; margin: 0px;" id="proName">{{ project.proname }}</h1>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button class="btn btn-warning">重新构建</button>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <button class="btn btn-success" id="update">更新镜像</button>
                    </div>
                </div>
                <div class="panel-footer" id="status">
                    <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>构建中
                </div>
            </div>
            <div class="panel panel-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#log" aria-controls="log" role="tab" data-toggle="tab">日志</a>
                        </li>
                        <li role="presentation">
                            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">设置</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="log">
                            <div class="log-panel" id="log-content">
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="settings">2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            var proname = $("#proName").text();
            $.ajax({
                url: '/build/project',
                dataType: 'json',
                type: 'post',
                data: JSON.stringify({data: proname}),
                async: true
            });
        });
        socket.on('response', function (msg) {
            var logContent = document.getElementById('log-content');
            if (msg.resp.hasOwnProperty('stream')) {
                var text = msg.resp['stream'];
                if (msg.resp['stream'].indexOf('Successfully built') >= 0) {
                    document.getElementById('status').innerHTML = '<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>上传代码中';
                }
            } else {
                var text = msg.resp['message'];
            }
            var r = /\\u([\d\w]{4})/gi;
            text = text.replace(r, function (match, grp) {
                return String.fromCharCode(parseInt(grp, 16));
            });
            logContent.innerText += text;
            logContent.scrollTop = logContent.scrollHeight;
        });
        $("#update").click(function (event) {
            var proname = $("#proName").text();
            socket.emit('update project', {data: proname});
            socket.on('update response', function (msg) {
                if (msg['data'] == 'ok') {
                    location.reload(true);
                }
            });
        });
    </script>
    <script>
        var path = window.location.pathname;
        var verify = path.split('/')[3];
        var status = null;
        function getStatus() {
            $.ajax({
                url: '/get/build_status',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({data: verify}),
                success: function (data) {
                    status = data['status'];
                    if (status == 1) {
                        clearInterval(timer);
                        document.getElementById('status').innerHTML = '<p style="color: green;">构建成功</p>';
                    } else if (status == 2) {
                        document.getElementById('status').innerHTML = '<p style="color: red;">构建失败</p>';
                    } else {
                        document.getElementById('status').innerHTML = '<i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>构建中';
                    }
                },
                complete: function (XHR) {
                    XHR = null
                }
            })
        }
        var timer = setInterval("getStatus()", 3000);
    </script>
{% endblock %}