{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block link %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
{% endblock %}
{% block page_content %}
    <div class="top-name">
        我的主机
    </div>
    <div class="servers">
        <div class="function">
            <button class="btn btn-default" data-toggle="modal" data-target="#serverModal">添加主机</button>
            <div class="search from-group col-md-3">
                <input class="form-control" type="text" placeholder="搜索主机名或IP"/>
            </div>
        </div>
        <div class="server-list ">
            <table class="table table-hover" id="table">
                <thead>
                <tr>
                    <th>主机</th>
                    <th>IP</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for server in servers %}
                    <tr>
                        <td>{{ server.nickname }}</td>
                        <td>{{ server.Ip }}</td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            {{ macros.pagination_widget(pagination, '.add_server') }}
        </div>
    </div>
    <div class="modal fade" id="serverModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">主机信息</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="">主机名称</label>
                            {{ form.nickname(class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label for="">主机IP</label>
                            {{ form.ip(class="form-control") }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            {{ form.submit(class="btn btn-primary") }}
                        </div>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script>
            $(document).ready(function () {
                var data = {};
                var trs = document.getElementsByTagName("tbody")[0].children;
                for (var i = 0; i < trs.length; i++) {
                    data[i] = trs[i].getElementsByTagName('td')[1].innerText;
                    trs[i].getElementsByTagName('td')[2].innerHTML = '<img src="{{ url_for('static', filename='img/loading.gif') }}">';
                }
                console.log(data);
                $.ajax({
                    url: '/server/ping',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify({data: data}),
                    success: function (data) {
                        for (var i in data) {
                            if (data[i] == 0) {
                                trs[i].getElementsByTagName('td')[2].className = 'green';
                                trs[i].getElementsByTagName('td')[2].innerText = '正常';
                            }
                            else if (data[i] == 'false') {
                                trs[i].getElementsByTagName('td')[2].className = 'red';
                                trs[i].getElementsByTagName('td')[2].innerText = '检查docker';
                            }
                            else {
                                trs[i].getElementsByTagName('td')[2].className = 'red';
                                trs[i].getElementsByTagName('td')[2].innerText = '连接失败';
                            }
                        }
                    }
                })
            });
    </script>
{% endblock %}
